## II. Data Types

### In Python, data types are used to define the type of data that a variable can hold. The most common data types in Python include:
- Integer (whole numbers, positive or negative)
- Float (numbers with decimal point)
- String (sequence of characters)
- List (collection of items, different data types possible, mutable)
- Tuple (collections of items, different data types possible, immutable(!))
- Set (unordered collection of unique items)
- Dictionary (collection of key-value pairs)
- Boolean (True or False - represents the truth or falsity of a logical statement)

### Integer (whole numbers, positive or negative)

In [ ]:
# positive Integer
a = 2

In [ ]:
# negative integer
b = -5

In [ ]:
# addition
c = 2 + 2

In [ ]:
# substraction
d = 9 - 5

In [ ]:
# multiplication
e = 10 * 10

In [ ]:
# division (division returns a float in python 3)
f = 200 / 10

In [ ]:
# modulo (remainder of division)
g = 20 % 3

In [ ]:
# exponentiation (calculates x raised to the power of y)
h = 2 ** 3

In [ ]:
# check data type
print(type(a))

### Float (numbers with decimal point)

In [ ]:
# positive Float
a = 1.1

In [ ]:
# negative Float
b = -9.4

In [ ]:
# check data type
print(type(b))

### String (sequence of characters)

In [ ]:
# String enclosed in single quotes
a = 'Hey everybody'

In [ ]:
# String enclosed in double quotes
b = "Hello Buddy"

In [ ]:
# string concatenation
c = "Nice "
d = "to meet you"
e = c + d

In [ ]:
# string repetition
a = "water"
a * 3

In [ ]:
# string indexing (accessing individual characters)
name = "House"
name[0] # first character

In [ ]:
name[-1] # last character

In [ ]:
name[2] # character of index #2 (third position)

In [ ]:
# string slicing (extracting substrings)
new_name = "Hometown"
new_name[0:4]

In [ ]:
new_name[4:]

In [ ]:
new_name[:2]

In [ ]:
# string length
f = "I want to workout"
len(f)

In [ ]:
# Capitalize first letter
s = "I want to go to the gym"
s.capitalize()

In [ ]:
# Capitalize every character
s.upper()

In [ ]:
# All lower case
s.lower()

In [ ]:
# Replace
m = s.replace('gym', 'supermarket')
m

In [ ]:
# count specific characters
m.count('t')

In [ ]:
# starts with
m.startswith('I want')

In [ ]:
# find position
m.find('a')

In [ ]:
# split into a list
m.split()

In [ ]:
# check if everything is numeric
m.isnumeric()

In [ ]:
# string formatting using "%"
name = "alex"
age = 30

greeting = "My name is %s and I am %d years old."% (name, age)

greeting

In [ ]:
# string formatting using the format method
fruit = "watermelon"
price = 2.99
info = "The price of a {x} is ${y}".format(x="fruit",y=price)
info

In [ ]:
# string formatting using F-Strings (only in Python version 3.6+)
fruit = "pineapple"
price = 3.50
quantity = 5
info = f"The price of {quantity} {fruit}s is ${price*quantity}"
info

### List (collection of items, different data types possible, mutable)

In [ ]:
# create a list
animals = ['monkey', 'dog', 'cat', 'fish', 'chicken']

In [ ]:
# access elements - index zero - first element
animals[0]

In [ ]:
# access elements -index three - fourth element
animals[3]

In [ ]:
# access elements -last element
animals[-1]

In [ ]:
# add elements to a list
animals.append('elephant')
animals

In [ ]:
# insert elements into a list
animals.insert(1,'frog')
animals

In [ ]:
# remove elements from a list
animals.remove('dog')
animals

In [ ]:
# remove from position
animals.pop(1)
animals

In [ ]:
# modify elements in a list
animals[1] = 'crocodile'
animals

In [ ]:
# concatenate lists
new_animals = ['lion', 'tiger']
all_animals = animals + new_animals
all_animals

In [ ]:
# reverse list
all_animals.reverse()
all_animals

In [ ]:
# get length of a list
len(all_animals)

In [ ]:
# sort a list
numbers = [4,2,6,1,7,7,7,12,12,90,10291]
numbers.sort()
numbers

In [ ]:
# clear a list
numbers.clear()
numbers

### Tuple (collections of items, different data types possible, immutable(!))

In [ ]:
# create a tuple
animal_tuple = ('Crocodile', 'Monkey', 'Lion')
animal_tuple

In [ ]:
# access specific element of a tuple
animal_tuple[1]

In [ ]:
# Modifying tuples is not possible
animal_tuple[1] = 'Bird'

In [ ]:
# create a tuple with one value - comma after value is necessary
my_single_tuple = ('Tiger',)
my_single_tuple
# type(my_single_tuple) # tuple

In [ ]:
# if we create the tuple without the comma, Python interprets the expression as a single value instead of a tuple
my_single_tuple = ('Tiger')
my_single_tuple
# type(my_single_tuple) # string

### Set (unordered collection of unique items)

In [ ]:
# create a set
my_numbers_set = {1,1,1,2,3,2,3,1}
my_numbers_set

In [ ]:
# modify set
my_numbers_set.add(4)
my_numbers_set

In [ ]:
# remove from set
my_numbers_set.remove(1)
my_numbers_set

In [ ]:
# clear set
my_numbers_set.clear()
my_numbers_set

In [ ]:
# delete set
del my_numbers_set
my_numbers_set

### Dictionary (collection of key-value pairs)

In [ ]:
# create a dictionary
used_cars = {"Mercedes": 35000, 
             "BMW": 32000,
             "Honda": 22000
            }

In [ ]:
# access a value by key
used_cars["Mercedes"]

In [ ]:
# add a new key-value pair
used_cars["Toyota"] = 19000
used_cars

In [ ]:
# modify an existing value
used_cars["Mercedes"] = 40000
used_cars

In [ ]:
# remove a key-value pair
del used_cars["Honda"]
used_cars

In [ ]:
# get a list of keys 
used_cars.keys()

In [ ]:
# get a list of values
used_cars.values()

In [ ]:
# make a copy
used_cars2 = used_cars.copy()
used_cars2["Bugatti"] = 250000

In [ ]:
# get lenght 
(len(used_cars))

In [ ]:
# clear
used_cars.clear()
used_cars

In [ ]:
# create a dictionary of two lists
fruits = ["Apple", "Watermelon", "Cherry", "Mango"]
prices = [1.19, 3.49, 0.79, 1.7]

fruit_prices = dict(zip(fruits, prices))
print(fruit_prices)

In [ ]:
# List of dictionary
cities =[
    {"city": "Hamburg", "country":"Germany"},
    {"city": "Amsterdam", "country":"Netherlands"},
    {"city": "Ankara", "country":"Turkey"}
]
cities

In [ ]:
cities[1]['country']

In [ ]:
# unpack values from a dictionary
new_dict = {"name" : "Peter", "age": 51, "hobbies":"tennis"}

In [ ]:
name, age, hobbies = new_dict.values()

In [ ]:
print(name)
print(age)
print(hobbies)

### Boolean (True or False - represents the truth or falsity of a logical statement)

In [ ]:
# assign values to variables
a = 2
b = 5
c = 7

In [ ]:
# check if "b" is greater than "a"
b > a

In [ ]:
# check if "b" is greater than "c"
b > c

In [ ]:
# check if "b" is between "a" and "c"
c > b > a

In [ ]:
# check if an item is present in a list
fruits = ["Apple", "Watermelon", "Cherry", "Mango"]

In [ ]:
"Mango" in fruits

In [ ]:
"Peach" in fruits

In [ ]:
# check if an item is present in a dictionary
my_dict = {"name":"alex", "country":"germany", age:30}

In [ ]:
age in my_dict

In [ ]:
"hobbies" not in my_dict