## IV List Comprehension

List comprehension can be used to create a list by processing each element of an existing sequence (e.g. lists, tuples, strings). The expression is applied to each element of a sequence and results are stored in a new list.

#### Example 1 - list with trippled numbers

In [7]:
# define s list of numbers
numbers = [1,2,3,4,5,6,7,8,9,10]

# triple each number in a list
trippled_numbers = [3*number for number in numbers]

# print the trippled numbers
print(trippled_numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

#### Example 2 - give back a list with animals which starts with "d"

In [11]:
# create a list of animals
animals = ["monkey", "duck", "elephant", "dolphin", "crocodile", "bird", "dog"]

# loop through the list and check which animals start with a "d"
animals_starts_with_d = [animal for animal in animals if animal.startswith("d")]

# print out the new list
print(animals_starts_with_d)

['duck', 'dolphin', 'dog']

#### Example 3 - count the letters

In [14]:
# create a list of words
fruits = ["apple", "banana", "strawberry", "cherry", "egg"]

# loop through list and count the words
word_length = [len(word) for word in fruits]

# print the list
print(word_length)

[5, 6, 10, 6, 3]

#### Example 4 - return positive numbers

In [15]:
# create a list of random numbers
random_numbers = [1, 2, -5, -900, 17.5, -50]

# loop through the given list and filter out the positive ones
positive_numbers = [pos for pos in random_numbers if pos > 0]

# print the new list
print(positive_numbers)

[1, 2, 17.5]

#### Example 5

In [17]:
numbers1 = [2,3,4] 
numbers2 = [10,20,30] 

new_numbers = [x*y for x in numbers1 for y in numbers2]

print(new_numbers)

[20, 40, 60, 30, 60, 90, 40, 80, 120]

In [19]:
# Alternative:

my_numbers = []

for x in numbers1:
    for y in numbers2:
        my_numbers.append(x*y)

print(my_numbers)

[20, 40, 60, 30, 60, 90, 40, 80, 120]