## IV List Comprehension

List comprehension can be used to create a list by processing each element of an existing sequence (e.g. lists, tuples, strings). The expression is applied to each element of a sequence and results are stored in a new list.

#### Example 1 - list with trippled numbers

In [ ]:
# define s list of numbers

# triple each number in a list

# print the trippled numbers

#### Example 2 - give back a list with animals which starts with "d"

In [ ]:
# create a list of animals

# loop through the list and check which animals start with a "d"

# print out the new list

#### Example 3 - count the letters

In [ ]:
# create a list of words

# loop through list and count the words

# print the list

#### Example 4 - return positive numbers

In [ ]:
# create a list of random numbers
# loop through the given list and filter out the positive ones

# print the new list

#### Example 5

In [ ]:
numbers1 = [2,3,4] 
numbers2 = [10,20,30] 

new_numbers = [x*y for x in numbers1 for y in numbers2]

print(new_numbers)

In [ ]:
# Alternative:

my_numbers = []

for x in numbers1:
    for y in numbers2:
        my_numbers.append(x*y)

print(my_numbers)