## V. For Loops

For Loops are used to iterate over a sequence (e.g. list, tuple, string) and perform an operation for each item in the sequence

#### Iterating over a list

In [ ]:
# Example 1 - Iterating over the list "animals" and print the value for each item

In [ ]:
# Example 2 - Iterating over a list to check for even numbers

In [ ]:
# Example 3 - Iterating over a list and add a number

In [ ]:
# Example 4 - Break Statement (position is important)

#### Iterating over a tuple

In [ ]:
# Iterating over the tuple "numbers" and print the value for each item

In [ ]:
# Iterating over a list of tuples

#### Iterating over a range of numbers

In [ ]:
# Example 1 -Using the range-function to create a sequence of numbers from 0 to 6 and iterating over it

In [ ]:
# Example 2 -Using the range-function to create a sequence of numbers from 5 to 9

In [ ]:
# Example 3 - Using the range function to print a sequence of characters multiple times

#### Iterating over a string

#### Iterating over a dictionary

In [ ]:
# create a dictionary

In [ ]:
# iterate through dictionary to grab the keys - option 1

In [ ]:
# iterate through dictionary to grab the keys - option 2

In [ ]:
# iterate through dictionary to grab the values

In [ ]:
# iterate through dictionary to grab the key, value pair