## V. For Loops

For Loops are used to iterate over a sequence (e.g. list, tuple, string) and perform an operation for each item in the sequence

#### Iterating over a list

In [ ]:
# Example 1 - Iterating over the list "animals" and print the value for each item

In [2]:
animals = ["fish", "chicken", "cow"]
for animal in animals:
    print(animal)

fish
chicken
cow

In [12]:
# Example 2 - Iterating over a list to check for even numbers
my_numbers_list = [1,2,3,4,5,6,7,8,9,10]

for number in my_numbers_list:
    # check for even numbers
    if number %2 == 0:
        print(number)

2
4
6
8
10

In [ ]:
# Example 3 - Iterating over a list and add a number

In [15]:
for num_add in my_numbers_list:
    print (num_add + 10)

11
12
13
14
15
16
17
18
19
20

In [ ]:
# Example 4 - Break Statement (position is important)

In [44]:
animals2 = ["fish", "chicken", "cow", "bear", "mouse"]

for animal in animals2:
    print("The current animal is a " + animal)
    if animal == "cow":
        break

The current animal is a fish
The current animal is a chicken
The current animal is a cow

#### Iterating over a tuple

In [3]:
# Iterating over the tuple "numbers" and print the value for each item
numbers = (1,3,4,5,100)
for number in numbers:
    print(number)

1
3
4
5
100

In [31]:
# Iterating over a list of tuples
list_of_tuples = [(1,"fish"),(2,"bear"),(3,"crocodile")]
for items in list_of_tuples:
    print(items)

(1, 'fish')
(2, 'bear')
(3, 'crocodile')

#### Iterating over a range of numbers

In [4]:
# Example 1 -Using the range-function to create a sequence of numbers from 0 to 6 and iterating over it
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [49]:
# Example 2 -Using the range-function to create a sequence of numbers from 5 to 9
for i in range(5,10):
    print("The current number is ", i)

The current number is  5
The current number is  6
The current number is  7
The current number is  8
The current number is  9

In [5]:
# Example 3 - Using the range function to print a sequence of characters multiple times
for i in range(4):
    print("My name is Jack")

My name is Jack
My name is Jack
My name is Jack
My name is Jack

#### Iterating over a string

In [16]:
the_string = "Hamburg"
for letter in the_string:
    print(letter)

H
a
m
b
u
r
g

#### Iterating over a dictionary

In [24]:
# create a dictionary
random_person = {"first_name":"Max", 
                 "last_name":"Johnson", 
                 "age": 45, 
                 "city": 
                 "Helsinki", 
                 "country":"Finland"}

In [25]:
# iterate through dictionary to grab the keys - option 1
for key in random_person:
    print(key)

first_name
last_name
age
city
country

In [26]:
# iterate through dictionary to grab the keys - option 2
for key in random_person.keys():
    print(key)

first_name
last_name
age
city
country

In [27]:
# iterate through dictionary to grab the values
for value in random_person.values():
    print(value)

Max
Johnson
45
Helsinki
Finland

In [30]:
# iterate through dictionary to grab the key, value pair
for key, value in random_person.items():
    print(key, "=", value)

first_name = Max
last_name = Johnson
age = 45
city = Helsinki
country = Finland