## XIII. Excel & Pandas

Pandas is a Python library for data manipulation and analysis. It provides high-performance, easy-to-use data structures and data analysis tools for working with structured data. Using pandas, you can read and write Excel files with ease, and manipulate the data using the built-in data structures and functions. This can be useful for data cleaning, analysis, and visualization tasks, as well as for automating data processing workflows that involve Excel files.

#### import pandas

#### Load Data

#### look at the top of the data

#### look at the bottom of the data

#### Get Headers

#### Get specific column entries

In [ ]:
# Single Column

In [ ]:
# Multiple Columns

#### Read specific row

In [ ]:
df.iloc[0]

#### All Entries of the Salesperson "Robert"

#### Sort the dataframe by City in alphabetical order

#### create a new column and calculate the price per unit

#### Drop a Column

#### Filter by Sales > 8000

#### Sum of Sales by Salesperson

#### Average Sales per Unit by Type

#### Group the data by the Month column and calculate the sum of the Sales and Unit

#### Group by "Salesperson" and calculate the sum of "Sales" and "Units", sorted by "Sales" in ascending order

#### John is fired - Remove all entries where John is involved

#### Reset the Index

#### save dataframe